
a {
  color: #00B7FF;
}

a.home {
  color: white;
  text-decoration: none;
}

p {
  margin: 0 20px;
}

h1 {
  font-size: 60pt;
  color: #eeeeee;
  text-align: right;
  margin: 0;
}

h2 {
  font-size: 20px;
}

table {
  margin: 20px;
}

table tr th {
  background-color: #999999;
  color: #ffffff;
  text-align: center;
  padding: 5px 10px;
}

table tr td {
  background-color: #eeeeee;
  color: #666666;
  text-align-last: left;
  padding: 5px 10px;
}

.error {
  color: red;
}

